<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package receiptDeclarationId="JetBrains.Annotations" version="2020.1.0" targetFramework="net45" />
  <package receiptDeclarationId="Microsoft.CodeAnalysis.FxCopAnalyzers" version="2.9.8" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="2.9.8" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="Microsoft.CodeQuality.Analyzers" version="2.9.8" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="Microsoft.NetCore.Analyzers" version="2.9.8" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="Microsoft.NetFramework.Analyzers" version="2.9.8" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="Microsoft.VisualStudio.Threading.Analyzers" version="16.6.13" targetFramework="net45" />
  <package receiptDeclarationId="StructureMap" version="4.7.1" targetFramework="net45" />
  <package receiptDeclarationId="StyleCop.Analyzers" version="1.1.118" targetFramework="net45" developmentDependency="true" />
  <package receiptDeclarationId="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net45" />
</packages>